.popular {
  position: absolute;
  top: 167px;
  left: 24px;
  font-family: var(--font-gilroy-bold);
}
.f8-2-icon,
.f9-2-icon {
  position: absolute;
  top: 233px;
  left: 24px;
  border-radius: var(--br-31xl);
  width: 252px;
  height: 279px;
  object-fit: cover;
}
.f8-2-icon {
  top: 227px;
  left: 320px;
  width: 136px;
  height: 285px;
}
.recently-played {
  position: absolute;
  top: 533px;
  left: 16px;
  font-weight: 300;
  display: inline-block;
  width: 247px;
  height: 38px;
}
.f9-2-icon1,
.iphone-14-15-pro-8-child {
  position: absolute;
  top: 576px;
  height: 116px;
}
.iphone-14-15-pro-8-child {
  left: 16px;
  background-color: var(--color-darkslategray);
  width: 348px;
}
.f9-2-icon1 {
  left: 23px;
  border-radius: var(--br-31xl);
  width: 129px;
  object-fit: cover;
}
.views1 {
  position: absolute;
  top: 579px;
  left: 157px;
  font-size: var(--font-size-10xl);
  text-align: center;
  display: inline-block;
  width: 104px;
  height: 35px;
}
.favorite-icon7 {
  position: absolute;
  top: 571px;
  left: 311px;
  width: 37px;
  height: 59px;
  object-fit: cover;
}
.iphone-14-15-pro-8-item {
  position: absolute;
  top: 712px;
  left: 16px;
  background-color: var(--color-darkslategray);
  width: 348px;
  height: 116px;
}
.figma3-3-icon {
  position: absolute;
  top: 828px;
  left: 35px;
  border-radius: var(--br-31xl);
  width: 106px;
  height: 116px;
  object-fit: cover;
}
.let-me1 {
  position: absolute;
  top: 742px;
  left: 136px;
  font-size: var(--font-size-10xl);
  text-align: center;
  display: inline-block;
  width: 128px;
  height: 35px;
}
.favorite-icon8,
.jhvjkh-icon {
  position: absolute;
  top: 718px;
  left: 313px;
  width: 38px;
  height: 59px;
  object-fit: cover;
}
.jhvjkh-icon {
  top: 60px;
  left: 24px;
  width: 43px;
  height: 43px;
}
.jhvjkhv-child,
.vector-icon {
  position: absolute;
  border-radius: var(--br-2xl);
}
.jhvjkhv-child {
  top: 0;
  left: 0;
  background-color: #111043;
  border: 1px solid #242c59;
  box-sizing: border-box;
  width: 271px;
  height: 44px;
}
.vector-icon {
  height: 36.36%;
  width: 6.27%;
  top: 31.82%;
  right: 84.5%;
  bottom: 31.82%;
  left: 9.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search {
  position: absolute;
  top: 14px;
  left: 49px;
  letter-spacing: 0.03em;
}
.jhvjkhv {
  position: absolute;
  top: 59px;
  left: 80px;
  width: 271px;
  height: 44px;
  font-size: 14px;
  color: #7f89b3;
  font-family: var(--font-gilroy-regular);
}
.iphone-14-15-pro-8 {
  width: 100%;
  position: relative;
  background: linear-gradient(#828ef5, #828ef5), #fff;
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
